<div class="claims-report__answer__summary claims-report__answer__summary--radio-slider">
  {% for answer in answers %}
    <label for="button-{{id}}-{{loop.index}}">
      <img class="answer__option--slider-option__img" alt="" src="" />
    </label>
  {% endfor %}
  <div class="claims-report__answer-edit-wrap">
    <a href="#" class="claims-report__answer-edit js-claims-report__answer-edit">{{ text.editAnswer }}</a>
  </div>
</div>

<div class="claims-report__answer__summary--radio-slider__spacer"></div>

<div class="claims-report__answer">
  
  <div class="answer__option--radio-slider">
    
    <form id="{{ id }}-form" class="claims-report__answer__form" method="post" action="">
    
    <!-- Dots -->
    {% for answer in answers %}
      <input id="button-{{id}}-{{loop.index}}" class="button-{{loop.index}}" type="radio" value="{{ answer.option|striptags|raw }}" {% if loop.first %}checked="checked"{% endif %} name="controls" />
      <label class="answer__option--slider-option__dot" for="button-{{id}}-{{loop.index}}"></label>
    {% endfor %}
    
    <!-- Arrows -->
    {% for answer in answers %}
      <label id="arrow-{{id}}-{{loop.index}}" class="answer__option--slider-option__arrow arrow-{{loop.index}}" for="button-{{id}}-{{loop.index}}"></label>
    {% endfor %}
    
    <!-- Slides -->
    <div class="answer__option--radio-slider__inner">
      
      <ul>
        {% for answer in answers %}
          <li id="slide-{{id}}-{{loop.index}}" style="width: {{100/loop.length}}%">
            {% if answer.optionIMG %}
              <img class="answer__option--slider-option__img" alt="" src="{{answer.optionIMG}}" />
            {% else %}
              <span class="answer__option--slider-option__no-img"></span>
            {% endif %}
            <div class="answer__option--slider-option__description">
              <h3 class="answer__option--slider-option__title">{{ answer.option }}</h3>
              {{ answer.optionDescription }}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
          
    {% include 'submit-question.twig' %}
    
    </form>
  
  </div>
      
</div>