{% include 'answer-summary.twig' %}

<div class="claims-report__answer">
  
  <form id="{{ id }}-form" class="claims-report__answer__form" method="post" action="">
  
    {% for answer in answers %}
    
    <div class="claims-report__answer__option">
    	<!-- Name -->
    	<div class="answer__option answer__option--input">
    		<label for="input_{{ answer.optionShortname }}">{{ answer.option }} {% if answer.validation == 'required' %}<span class="required">*</span>{% endif %}</label>
    		<input type="{{ answer.optionType|default('text') }}" id="input_{{ answer.optionShortname }}" name="name" {{ answer.validation }} />
    		<span class="error">Feltet skál udfyldes</span>
    	</div>
    </div>
    
    {% endfor %}
  
    {% include 'submit-question.twig' %}
  
  </form>
  
</div>