<div id="{{ id }}">
  <div class="claims-report__feedback__inner">
    {{ question }}
  </div>
  
  <div class="claims-report__feedback__smileys">
    <ul>
    {% for answer in answers %}
      <li id="li-{{id}}-{{ loop.index }}">
        <a href="claims-report-feedback-edit.html?feedback-rating={{ answer.optionRating }}">
          <img class="claims-report__feedback__smiley-gfx" src="images/gfx/gfx-bouble-rating-{{ answer.optionRating }}.svg">
          <div class="claims-report__feedback__title">{{ answer.option }}</div>
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
  
</div>
